.TopBarContainer {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #deeafc;
}

.TopBar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.Name {
    width: 33%;  
}

.Title {
    width: 33%;
 font-weight: bold;
}

.Date {
    width: 33%;
}